# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Build outputs
build/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Platform specific
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework
ios/.generated/
android/.gradle/
android/local.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml

# Generated icons / assets
assets/icon.png.bak

